COMPOSE_PROJECT_NAME=wordpress
WORDPRESS_BASE_IMAGE=wordpress:php8.2-apache
WORDPRESS_PORT=8888
PHPMYADMIN_PORT=8889
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=root
WORDPRESS_URL=http://localhost:8888
WORDPRESS_TITLE=Flavor Agent Local
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin
WORDPRESS_ADMIN_EMAIL=admin@example.com
FLAVOR_AGENT_WP70_BASE_IMAGE=wordpress:beta-7.0-beta4-php8.2-apache
FLAVOR_AGENT_WP70_PORT=9404
FLAVOR_AGENT_WP70_PHPMYADMIN_PORT=9405
