<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	cacheResult="false"
>
	<php>
		<const name="FLAVOR_AGENT_TESTS_RUNNING" value="1"/>
	</php>
	<testsuites>
		<testsuite name="Flavor Agent">
			<directory>tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
